doctype html

style
    include ./css/new-order.css
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lobster&display=swap')
  
body
    div.header-image 
        
        h1.header-titulo Fashion Pets
        h1 Hola #{nombre}! gracias por interesarte en nuestros servicios.
    
    br
    p Esta es una confirmacion automatica de tu orden
    br
    h3 Aqui tus detalles:
    ul
        li Nombre: #{nombre} #{apellido}
        li Numero Telefonico: #{telefono}
        li Correo Electronico: #{correo}
        li Domicilio: #{direccion}
    br

    h3 Aqui los detalles de tu mascota:
    ul
        li Nombre de tu mascota: #{nombreMascota}
        li Especie: #{especie}
        li Raza: #{raza}
        li Su peso #{peso}
        li Su estatura: #{altura}
    br
    


    h3 Los servicios que has requerido:
    
    p #{servicios}
    
    h3 En que fecha has solicitado nuestros servicios:
    
    p #{fecha}
    
    h3 Donde gustarias recibir nuestros servicios:
    
    p #{domicilioInstalaciones}

    h3 Comentarios sobre cuidados respecto tu mascota:

    p #{comentarios}
    
    div.footer 
        p © Fashion Pets. Todos los derechos reservados. Desarrollado por Edgar Bucott Afonso.
    
    

